<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDemo9kxaH7Kp9XUq_nNMCmThjSdAKcqZ4</string>
	<key>GCM_SENDER_ID</key>
	<string>31783007813</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.hidroponikApp2</string>
	<key>PROJECT_ID</key>
	<string>hidroponic-reni</string>
	<key>STORAGE_BUCKET</key>
	<string>hidroponic-reni.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:31783007813:ios:db7e0cb9eddba7590a152c</string>
	<key>DATABASE_URL</key>
	<string>https://hidroponic-reni-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>